.showUserBox{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}
.showUserDetails{
    display: flex;
    flex-direction: column;
    height: 400px;
    max-width: 250px;
    width: 250px;
    box-shadow: rgb(73, 73, 73) 0px 0px 100px;
    border-radius: 20px;
    overflow: hidden;
}
.showUserDetails-pfp{
    flex: 1;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    backdrop-filter: blur(5px);

}
.showUserDetails-pfp img{
    border-radius: 20px;
}
.showUserDetails-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    
}
.DmButton{
    background-color: crimson;
    color: white;
    height: 50px;
    width: 70px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    box-shadow: rgb(143, 143, 143) 0px 0px 20px;

}