<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="icon" href="/Kurakani-logo.png">
    <meta property="og:image" content="https://i.ibb.co/cxj9GbS/Kurakani-logo.png" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <meta property="og:image:alt" content="KuraKani-Logo" />
</head>

<body>
    user already exists!!!!
</body>

</html>