<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="KuraSu is a live group chat which is still under maintainance. If you are reading this then you are
    looking at Alpha
    version of KuraSu. KuraSu offers/will offer faster chatting rooms in different environment. You will
    be able to set your own theme
    using a config file provided by us. There are many more featutre which are still in pending. Hope
    you will like it.
                                  ">
    <meta name="keywords" content="Live, Chat, Faster Chat, Group chat, Global Chat">
    <link rel="icon" href="/Kurakani-logo.png">
    <meta property="og:image" content="https://i.ibb.co/cxj9GbS/Kurakani-logo.png" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <meta property="og:image:alt" content="KuraKani-Logo" />
    <title>KuraSu-Register</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cuid/1.3.8/browser-cuid.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body {
            background-color: darkcyan;
            margin: 0px;
            font-family: Arial;
        }

        .registerBox {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: brown;
            height: 400px;
            width: 400px;
        }

        input {
            margin-top: 30px;
            height: 30px;
        }

        button {
            height: 30px;
            width: 100px;
            font-size: 24px;
            background-color: cadetblue;
            border-style: none;
            margin-top: 20px;
        }

        button:hover {
            background-color: white;
            transition: 0.5s;
        }

        a {
            text-decoration: none;
            color: gray;

        }

        .fullBackground {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0px;
            right: 0px;
            left: 0px;
            bottom: 0px;
            z-index: -1;

        }

        #lady {
            transition: 5s;
            transform-origin: top;
            transform: rotate(5deg);
            animation: lady-swing 5s infinite ease-in-out;


        }

        #leaves {
            transition: 3s;
            transform-origin: bottom;
            animation: leaves-wave 1s infinite ease-in-out;

        }

        @keyframes leaves-wave {
            0% {}

            50% {
                transform: rotate(0.3deg);

            }

            100% {
                transform: rotate(0deg);
            }

        }

        @keyframes lady-swing {
            0% {}

            50% {
                transform: rotate(-5deg);
                transform: translateX(30px);
            }

            100% {
                transform: rotate(5deg);
            }

        }

        .box {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.7);
            box-shadow: black 1px 1px 10px;
            height: auto;
            width: 300px;
            top: 50%;
            transform: translateY(-50%);
            left: 100px;
            padding: 10px;

        }

        @media screen and (max-width: 800px) {
            .box {
                position: absolute;
                background-color: rgba(255, 255, 255, 0.7);
                box-shadow: black 1px 1px 10px;
                height: auto;
                width: 300px;
                top: 5%;
                left: 50%;
                transform: translateY(-5%);
                transform: translateX(-50%);

            }
        }
    </style>
</head>

<body>
    <svg class="fullBackground" width="1289" height="1019" viewBox="0 0 1289 1019" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <g id="undraw_Tree_swing_646s 1" clip-path="url(#clip0)" filter="url(#filter0_b)">
            <path id="Vector"
                d="M593.143 35.0208C593.923 36.8005 594.504 38.6609 594.876 40.568C594.032 37.6587 593.369 35.6841 593.143 35.0208Z"
                fill="#3F3D56" />
            <path id="Vector_2" d="M619.878 127.182C619.878 127.182 619.878 129.262 617.632 136.769L619.878 127.182Z"
                fill="#3F3D56" />
            <path id="Vector_3" opacity="0.1"
                d="M926.727 305.611C920.443 333.438 913.043 360.314 902.645 380.8C869.867 445.391 722.839 450.365 722.839 450.365C722.839 450.365 723.532 441.834 724.587 428.373C761.917 425.298 863.959 412.168 890.588 359.696C893.03 354.903 895.29 349.747 897.43 344.321L926.727 305.611Z"
                fill="black" />
            <path id="Vector_4" opacity="0.1"
                d="M698.003 384.779C698.003 384.779 661.246 341.05 633.441 317.203C627.338 311.988 623.058 304.601 620.089 296.281C619.848 295.617 619.622 294.939 619.396 294.261C620.044 294.894 620.692 295.512 621.385 296.1C645.724 316.977 676.935 353.094 684.334 361.761C685.374 362.997 685.947 363.676 685.947 363.676L678.216 224.363L690.604 251.526L698.003 384.779Z"
                fill="black" />
            <path id="Vector_5" opacity="0.1"
                d="M719.28 259.316C719.063 283.78 715.889 298.33 715.889 298.33C715.889 298.33 771.497 226.819 837.045 202.956C840.919 200.505 844.85 198.091 848.872 195.748C927.353 150.04 941.261 85.4535 941.261 85.4535L986.958 30.803L931.326 74.5234C931.326 74.5234 890.596 157.99 825.03 181.837C780.338 198.093 740.268 236.503 719.28 259.316Z"
                fill="black" />
            <path id="Vector_6" opacity="0.1"
                d="M633.435 496.066V517.926C633.435 517.926 693.04 461.288 689.066 442.409C686.028 427.971 682.389 398.428 663.969 373.326C672.272 392.296 674.799 410.801 677.01 421.306C679.86 434.844 650.017 467.796 632.902 485.359C633.503 488.894 633.682 492.488 633.435 496.066V496.066Z"
                fill="black" />
            <path id="Vector_7" opacity="0.1"
                d="M553.48 346.05C553.952 347.057 554.439 348.048 554.954 349.006C570.188 377.304 593.155 407.384 610.339 435.014C596.451 407.652 572.282 376.362 553.48 346.05Z"
                fill="black" />
            <path id="Vector_8" opacity="0.1"
                d="M885.629 545.511C852.949 525.123 825.017 514.12 802.199 508.546C778.264 517.557 758.564 524.275 748.652 527.574C766.429 522.972 817.933 516.857 897.685 566.615C960.258 605.654 1025.53 604.115 1065.8 597.428C1076.94 589.022 1086.28 578.463 1093.25 566.378C1093.25 566.378 985.964 608.111 885.629 545.511Z"
                fill="black" />
            <path id="Vector_9" opacity="0.1"
                d="M601.911 303.747C593.901 284.114 592.581 260.752 601.784 233.377C601.669 223.456 602.241 213.539 603.497 203.697L619.139 136.768C616.255 146.42 609.657 165.04 594.556 199.723C575.439 243.63 582.574 277.94 601.911 303.747Z"
                fill="black" />
            <path id="Vector_10" opacity="0.1"
                d="M1040.6 448.134C1009.6 412.99 959.017 401.266 930.917 397.378L922.521 416.574C922.521 416.574 1007.96 418.562 1052.66 469.237C1077.45 497.339 1122.7 514.437 1158.1 524.097L1196.57 513.715C1196.57 513.715 1085.31 498.81 1040.6 448.134Z"
                fill="black" />
            <path id="Vector_11" opacity="0.1"
                d="M432.764 434.46C474.487 416.574 416.869 316.216 416.869 316.216L415.293 315.493C429.657 345.808 450.49 400.589 420.707 413.357C392.838 425.303 366.746 395.581 352.488 374.523C353.006 376.013 353.29 376.829 353.29 376.829C353.29 376.829 391.04 452.346 432.764 434.46Z"
                fill="black" />
            <path id="Vector_12" opacity="0.1"
                d="M568.862 499.047C568.862 499.047 581.435 460.285 557.816 436.353C563.608 456.97 556.806 477.943 556.806 477.943C541.436 443.354 488.624 428.39 465.491 423.385C466.388 434.901 466.54 442.409 466.54 442.409C466.54 442.409 548.994 454.333 568.862 499.047Z"
                fill="black" />
            <path id="Vector_13" opacity="0.1"
                d="M619.139 136.768C621.378 129.275 621.379 127.187 621.379 127.187L619.139 136.768Z" fill="black" />
            <path id="Vector_14" opacity="0.1"
                d="M123.206 535.008C123.407 534.943 123.61 534.884 123.809 534.818C165.533 520.907 201.296 468.244 238.053 450.358C274.81 432.473 296.665 408.625 346.336 434.46C346.336 434.46 337.646 398.882 320.806 375.508C326.384 387.71 330.892 400.374 334.279 413.357C284.608 387.522 262.753 411.369 225.997 429.255C189.24 447.141 153.477 499.804 111.753 513.715C70.0292 527.626 1.48303 499.804 1.48303 499.804C1.48303 499.804 47.1804 528.619 105.792 533.588C112.497 534.156 118.218 534.657 123.206 535.008Z"
                fill="black" />
            <path id="Vector_15" opacity="0.1"
                d="M304.619 336.091C304.619 336.091 302.991 336.121 300.038 336.166L291.071 315.017C292.05 315.002 292.563 314.987 292.563 314.987C292.563 314.987 285.66 223.489 272.368 180.845C272.534 180.92 272.67 181.011 272.82 181.086C293.678 191.02 304.619 336.091 304.619 336.091Z"
                fill="black" />
            <path id="Vector_16" opacity="0.1"
                d="M519.192 543.763C507.205 538.491 494.376 535.393 481.305 534.613C475.021 521.484 474.026 514.731 482.164 515.062C484.425 515.469 486.7 515.952 488.961 516.509C504.936 529.774 519.192 543.763 519.192 543.763Z"
                fill="black" />
            <path id="Vector_17" opacity="0.1"
                d="M250.253 150.331C251.386 152.239 252.759 153.995 254.338 155.555C253.178 153.665 251.808 151.912 250.253 150.331V150.331Z"
                fill="black" />
            <path id="Vector_18" opacity="0.1"
                d="M431.77 312.242C433.306 313.694 434.744 315.245 436.077 316.886C431.725 306.422 426.351 297.375 419.714 291.138C386.931 260.335 333.286 262.322 333.286 262.322L400.562 293.164C412.09 297.466 422.685 303.942 431.77 312.242Z"
                fill="black" />
            <path id="Vector_19" opacity="0.1"
                d="M503.161 177.863C507.215 183.72 504.938 208.577 501.237 233.999C493.433 285.935 502.046 339.012 525.87 385.814C529.035 392.077 532.57 398.146 536.455 403.989C513.751 357.879 505.67 305.932 513.293 255.102C516.994 229.68 519.272 204.823 515.218 198.966C506.277 186.049 468.527 106.557 465.547 85.6903C464.653 77.5951 464.445 69.4388 464.924 61.3085C457.207 39.4084 456.47 0 456.47 0C456.47 0 450.51 43.7205 453.49 64.5869C456.47 85.4533 494.221 164.945 503.161 177.863Z"
                fill="black" />
            <path id="Vector_20" opacity="0.1"
                d="M596.359 40.4947C595.961 38.5308 595.357 36.6145 594.556 34.7776C594.556 34.7776 595.319 36.9221 596.359 40.4947Z"
                fill="black" />
            <path id="Vector_21" opacity="0.1"
                d="M245.479 140.568C254.234 141.64 264.305 144.327 271.987 150.558C271.486 148.863 271.049 147.343 270.701 146.066C261.76 113.276 214.076 119.238 214.076 119.238C235.625 122.001 241.191 131.22 245.479 140.568Z"
                fill="black" />
            <path id="Vector_22" d="M1289 1017H-148V1019H1289V1017Z" fill="#3F3D56" />
            <g id="lady">
                <g id="Group 1">
                    <path id="Vector_23"
                        d="M843.225 873.147L840.212 873.221L832.158 543.432C832.127 542.088 831.796 540.768 831.19 539.569C830.583 538.37 829.716 537.322 828.652 536.501L830.499 534.117C831.917 535.212 833.073 536.61 833.881 538.209C834.689 539.808 835.13 541.567 835.171 543.358L843.225 873.147Z"
                        fill="#3F3D56" />
                    <path id="Vector_24"
                        d="M904.78 862.827L757.134 866.433L757.833 895.064L905.479 891.459L904.78 862.827Z"
                        fill="#6C63FF" />
                    <path id="Vector_25"
                        d="M831.693 894.768C828.498 894.843 825.403 893.646 823.088 891.441C820.774 889.236 819.428 886.203 819.346 883.007L811.065 543.947C811.01 541.667 811.601 539.418 812.772 537.462C813.942 535.505 815.643 533.92 817.677 532.891C819.712 531.862 821.996 531.431 824.266 531.648C826.535 531.865 828.696 532.721 830.499 534.117L828.652 536.501C827.3 535.454 825.679 534.812 823.977 534.649C822.275 534.486 820.562 534.81 819.037 535.581C817.511 536.353 816.235 537.542 815.358 539.01C814.48 540.477 814.037 542.164 814.078 543.873L822.359 882.933C822.42 885.331 823.43 887.606 825.166 889.259C826.902 890.913 829.223 891.81 831.62 891.754L831.693 894.768Z"
                        fill="#3F3D56" />
                </g>
                <g id="Group 2">
                    <path id="Vector_26"
                        d="M894.23 789.82C894.23 789.82 910.836 771.521 917.899 774.948C924.962 778.376 898.322 795.027 898.322 795.027L894.23 789.82Z"
                        fill="#FFB9B9" />
                    <path id="Vector_27" opacity="0.1"
                        d="M894.23 789.82C894.23 789.82 910.836 771.521 917.899 774.948C924.962 778.376 898.322 795.027 898.322 795.027L894.23 789.82Z"
                        fill="black" />
                    <path id="Vector_28"
                        d="M841.279 752.059C841.279 752.059 835.288 763.443 837.223 775.511C839.158 787.579 855.1 826.066 860.18 825.251C865.26 824.436 902.336 795.686 902.336 795.686L894.889 785.806L867.716 803.194C867.716 803.194 862.054 743.514 841.279 752.059Z"
                        fill="#D0CDE1" />
                    <path id="Vector_29"
                        d="M944.217 776.903L901.796 801.576C901.551 801.748 901.271 801.864 900.977 801.916C900.682 801.968 900.379 801.954 900.09 801.877C899.801 801.799 899.532 801.659 899.303 801.466C899.074 801.274 898.89 801.033 898.764 800.762L887.693 778.997C887.478 778.374 887.494 777.695 887.738 777.083C887.981 776.471 888.437 775.966 889.021 775.662L924.27 756.385C924.704 756.11 925.223 756.004 925.729 756.088C926.236 756.172 926.693 756.44 927.014 756.841L945.257 773.208C945.44 773.517 945.558 773.86 945.605 774.216C945.652 774.572 945.626 774.933 945.529 775.279C945.431 775.624 945.265 775.946 945.04 776.226C944.814 776.505 944.534 776.735 944.217 776.903V776.903Z"
                        fill="#2F2E41" />
                    <path id="Vector_30"
                        d="M941.268 773.719L901.522 797.749L890.322 778.674L924.442 759.02L941.268 773.719Z"
                        fill="#6C63FF" />
                    <path id="Vector_31"
                        d="M907.285 767.885C907.489 767.628 907.476 767.279 907.257 767.105C907.039 766.932 906.696 766.999 906.492 767.256C906.288 767.512 906.3 767.861 906.519 768.035C906.738 768.209 907.081 768.142 907.285 767.885Z"
                        fill="#F2F2F2" />
                    <path id="Vector_32"
                        d="M922.602 787.198C922.738 787.027 922.73 786.794 922.584 786.679C922.438 786.563 922.21 786.608 922.074 786.779C921.938 786.95 921.946 787.183 922.092 787.299C922.238 787.414 922.466 787.37 922.602 787.198Z"
                        fill="#F2F2F2" />
                    <path id="Vector_33" opacity="0.1"
                        d="M841.279 752.059C841.279 752.059 835.288 763.443 837.223 775.511C839.158 787.579 855.1 826.066 860.18 825.251C865.26 824.436 902.336 795.686 902.336 795.686L894.889 785.806L867.716 803.194C867.716 803.194 862.054 743.514 841.279 752.059Z"
                        fill="black" />
                    <path id="Vector_34"
                        d="M882.792 793.519C882.792 793.519 901.703 777.614 908.242 781.958C914.781 786.303 886.148 799.228 886.148 799.228L882.792 793.519Z"
                        fill="#FFB9B9" />
                    <path id="Vector_35"
                        d="M855.567 732.412C865.864 732.16 874.008 723.607 873.756 713.307C873.505 703.007 864.953 694.862 854.656 695.113C844.358 695.365 836.215 703.918 836.466 714.218C836.718 724.517 845.269 732.663 855.567 732.412Z"
                        fill="#FFB9B9" />
                    <path id="Vector_36"
                        d="M922.577 842.093C922.577 842.093 942.57 844.179 942.226 856.413C941.881 868.647 928.335 919.811 928.335 919.811L927.536 939.778C927.536 939.778 929.638 973.187 925.765 972.638C921.892 972.089 912.325 949.158 912.325 949.158C912.325 949.158 901.223 942.351 906.209 935.795C911.195 929.238 915.069 929.787 913.61 922.745C912.152 915.702 912.072 886.105 915.71 877.008C919.347 867.911 921.474 862.89 921.474 862.89L908.919 862.374L922.577 842.093Z"
                        fill="#FFB9B9" />
                    <path id="Vector_37"
                        d="M923.941 845.277C923.941 845.277 943.339 849.308 945.582 862.122C947.825 874.937 958.395 912.642 958.395 912.642L969.264 936.185C969.264 936.185 986.043 964.731 978.956 964.261C971.868 963.79 961.878 949.878 958.663 949.957C955.449 950.035 945.711 946.412 946.291 943.824C946.871 941.236 951.183 933.409 951.183 933.409L934.966 906.687C931.835 901.529 929.427 895.965 927.811 890.151C926.059 883.842 924.051 876.111 923.989 873.588C923.88 869.087 910.974 867.472 910.974 867.472L923.941 845.277Z"
                        fill="#FFB9B9" />
                    <path id="Vector_38"
                        d="M859.929 805.659L869.558 831.162C869.558 831.162 883.797 834.675 894.162 837.64C904.528 840.604 923.706 835.631 925.823 843.301C927.94 850.971 922.484 864.617 916.776 867.973C911.068 871.33 907.932 874.624 889.161 869.935C870.39 865.245 825.997 865.043 825.997 865.043C821.759 867.729 816.954 869.388 811.962 869.89C803.62 870.737 801.707 871.427 799.088 869.561C796.469 867.694 800.327 867.6 801.487 862.424C802.647 857.248 803.337 859.162 808.982 853.233C814.627 847.304 818.704 829.831 821.777 823.964C824.85 818.098 826.496 806.476 826.496 806.476L859.929 805.659Z"
                        fill="#2F2E41" />
                    <path id="Vector_39"
                        d="M856.774 729.165C854.48 730.929 852.623 733.198 851.348 735.795C850.073 738.393 849.413 741.25 849.42 744.144C849.656 753.79 829.881 734.326 829.881 734.326C829.881 734.326 839.854 721.213 839.759 717.355C839.665 713.496 856.774 729.165 856.774 729.165Z"
                        fill="#FFB9B9" />
                    <path id="Vector_40"
                        d="M832.248 725.903C832.248 725.903 843.931 730.122 846.66 736.49C849.389 742.858 859.362 756.127 859.362 756.127C859.362 756.127 873.209 769.945 869.086 785.488C864.962 801.032 861.199 804.985 861.262 807.557C861.325 810.129 855.005 814.788 849.846 814.27C844.687 813.753 825.336 811.652 823.987 809.111C822.639 806.57 814.028 770.103 818.842 756.473C822.762 746.051 827.238 735.846 832.248 725.903V725.903Z"
                        fill="#D0CDE1" />
                    <path id="Vector_41"
                        d="M860.54 714.479C864.736 715.367 868.766 712.608 872.12 709.889C874.025 708.344 876.109 706.157 875.456 703.763C874.876 701.638 872.329 700.488 871.909 698.325C871.618 696.821 872.464 695.331 872.498 693.8C872.407 692.635 871.996 691.518 871.313 690.571C870.629 689.624 869.698 688.883 868.622 688.43C866.562 687.385 864.246 686.985 862.133 686.056C858.908 684.637 856.192 682.005 852.765 681.224C848.083 680.157 843.406 682.786 838.631 683.228C835.74 683.496 832.794 682.957 829.941 683.502C827.224 684.121 824.793 685.637 823.042 687.806C821.291 689.975 820.321 692.671 820.288 695.459C820.301 697.506 820.766 699.78 819.585 701.433C819.116 702.003 818.578 702.514 817.985 702.954C813.815 706.499 812.024 712.295 811.939 717.839C811.898 720.568 812.548 723.792 814.994 724.892C816.3 725.303 817.673 725.46 819.038 725.353C819.724 725.308 820.411 725.431 821.039 725.712C821.666 725.993 822.215 726.424 822.638 726.966C823.787 728.882 822.207 731.793 823.689 733.454C824.803 734.701 826.903 734.227 828.14 733.11C829.378 731.994 830.128 730.414 831.297 729.224C833.573 726.909 837.02 726.415 840.205 725.994C841.152 725.964 842.065 725.639 842.819 725.066C843.384 724.442 843.743 723.659 843.845 722.823C844.219 720.897 844.176 718.913 843.719 717.005C843.502 716.416 843.461 715.777 843.601 715.165C843.801 714.727 844.118 714.354 844.518 714.085C846.461 712.549 849.877 710.299 852.46 710.646C855.326 711.03 857.643 713.866 860.54 714.479Z"
                        fill="#2F2E41" />
                    <path id="Vector_42"
                        d="M835.385 748.991C835.385 748.991 827.922 759.468 828.22 771.687C828.518 783.905 839.152 824.183 844.295 824.058C849.439 823.932 890.037 800.42 890.037 800.42L883.983 789.629L854.723 803.213C854.723 803.213 857.119 743.312 835.385 748.991Z"
                        fill="#D0CDE1" />
                    <path id="Vector_43"
                        d="M825.024 706.068C825.66 705.531 824.87 703.549 823.259 701.64C821.648 699.732 819.827 698.62 819.191 699.157C818.555 699.694 819.345 701.677 820.956 703.585C822.566 705.494 824.388 706.605 825.024 706.068Z"
                        fill="#6C63FF" />
                </g>
            </g>
            <g id="tree">
                <path id="Vector_44"
                    d="M895.049 441.184C835.777 472.085 758.24 498.766 735.016 506.499C752.724 501.886 804.265 495.676 884.123 545.51C984.462 608.112 1091.75 566.372 1091.75 566.372C1091.75 566.372 1067.91 612.091 1017.24 615.061C966.574 618.045 834.451 534.581 789.752 558.428C745.038 582.275 724.181 552.459 706.292 612.091C688.418 671.708 655.64 834.656 693.392 926.079L731.128 1017.49H516.555C516.555 1017.49 594.047 810.81 551.322 683.632C527.406 612.408 493.829 560.825 481.305 534.612C475.021 521.482 474.026 514.729 482.164 515.061C486.791 515.257 494.371 517.744 505.629 522.658C505.629 522.658 453.967 471.98 437.088 471.98C420.194 471.98 340.713 464.036 314.897 437.204C314.897 437.204 278.14 411.368 212.569 474.964C146.997 538.561 162.897 538.561 104.288 533.587C46.5979 528.688 1.40155 500.695 0 499.821C1.67282 500.5 69.0528 527.436 110.24 513.719C151.97 499.806 187.733 447.138 224.489 429.261C261.246 411.368 283.098 387.521 332.771 413.358L300.038 336.165L291.071 315.016L291.056 314.986C291.056 314.986 280.115 169.915 259.257 159.982C238.399 150.033 251.315 124.211 212.569 119.237C212.569 119.237 260.252 113.268 269.188 146.068C278.14 178.854 339.733 355.73 339.733 355.73C339.733 355.73 377.47 431.235 419.2 413.358C460.93 395.465 403.3 295.118 403.3 295.118L331.776 262.318C331.776 262.318 385.427 260.328 418.205 291.139C450.983 321.935 452.973 421.302 452.973 421.302C452.973 421.302 535.423 433.225 555.301 477.949C555.301 477.949 568.216 438.199 543.38 414.353C537.171 408.383 530.646 398.013 524.361 385.818C500.539 339.012 491.93 285.932 499.736 233.994C503.428 208.58 505.704 183.723 501.65 177.859C492.713 164.941 454.962 85.4564 451.978 64.5792C449.009 43.717 454.962 0.00283813 454.962 0.00283813C454.962 0.00283813 455.957 53.6506 467.877 70.5484C479.798 87.4462 513.571 170.91 513.571 170.91C513.571 170.91 513.571 276.231 541.391 327.904C569.211 379.577 622.847 437.204 619.878 474.964V496.822C619.878 496.822 679.482 440.189 675.503 421.302C671.524 402.429 666.566 357.705 628.815 330.889C591.063 304.057 566.227 261.323 593.052 199.716C608.138 165.061 614.739 146.445 617.632 136.783L601.989 203.696C601.989 203.696 592.058 272.251 619.878 296.098C619.953 296.159 620.013 296.219 620.089 296.279C647.864 320.156 684.44 363.674 684.44 363.674L684.334 361.76L676.498 220.593L678.216 224.362L690.603 251.525L702.328 277.226C702.328 277.226 757.953 205.685 823.525 181.839C889.081 157.992 929.817 74.5279 929.817 74.5279L985.457 30.7987L939.748 85.4564C939.748 85.4564 925.838 150.033 847.366 195.752C768.879 241.456 718.228 309.017 715.244 350.756C712.26 392.495 709.276 429.261 709.276 429.261C709.276 429.261 856.303 424.286 889.081 359.695C921.875 295.118 948.7 292.134 948.7 292.134L929.817 347.771L908.959 395.465C908.959 395.465 994.394 397.455 1039.09 448.133C1083.81 498.811 1195.06 513.719 1195.06 513.719L1132.48 530.602C1132.48 530.602 1072.87 510.735 1016.25 473.97C959.626 437.204 965.579 404.419 895.049 441.184Z"
                    fill="#3F3D56" />
                <path id="Vector_45" opacity="0.1"
                    d="M537.376 1017.49C555.579 961.681 599.354 807.347 564.889 704.731C550.005 660.416 536.209 632.157 524.547 614.13C533.269 631.195 542.804 653.769 552.833 683.628C595.55 810.815 518.063 1017.49 518.063 1017.49H537.376Z"
                    fill="black" />
                <path id="Vector_46"
                    d="M1182.3 966.441C1167.48 989.166 1171.54 1018.07 1171.54 1018.07C1171.54 1018.07 1199.62 1010.13 1214.44 987.403C1229.25 964.678 1225.19 935.773 1225.19 935.773C1225.19 935.773 1197.11 943.715 1182.3 966.441Z"
                    fill="#3F3D56" />
                <path id="Vector_47"
                    d="M736.213 966.441C721.398 989.166 725.457 1018.07 725.457 1018.07C725.457 1018.07 753.538 1010.13 768.353 987.403C783.169 964.678 779.11 935.773 779.11 935.773C779.11 935.773 751.029 943.715 736.213 966.441Z"
                    fill="#3F3D56" />
                <path id="Vector_48"
                    d="M492.39 975.037C499.473 1001.23 523.734 1017.45 523.734 1017.45C523.734 1017.45 536.511 991.205 529.428 965.016C522.345 938.826 498.084 922.607 498.084 922.607C498.084 922.607 485.307 948.848 492.39 975.037Z"
                    fill="#3F3D56" />
            </g>
            <g id="leaves">
                <path id="Vector_49"
                    d="M1189.23 975.738C1187.79 1002.83 1167.46 1023.77 1167.46 1023.77C1167.46 1023.77 1149.47 1000.79 1150.91 973.702C1152.35 946.61 1172.67 925.665 1172.67 925.665C1172.67 925.665 1190.66 948.645 1189.23 975.738Z"
                    fill="#6C63FF" />
                <path id="Vector_50"
                    d="M743.162 971.326C741.723 998.419 721.398 1019.36 721.398 1019.36C721.398 1019.36 703.407 996.383 704.846 969.291C706.285 942.198 726.609 921.254 726.609 921.254C726.609 921.254 744.601 944.234 743.162 971.326Z"
                    fill="#6C63FF" />
                <path id="Vector_51"
                    d="M498.64 967.859C517.888 986.975 519.974 1016.09 519.974 1016.09C519.974 1016.09 490.853 1014.21 471.605 995.093C452.357 975.977 450.271 946.864 450.271 946.864C450.271 946.864 479.392 948.743 498.64 967.859Z"
                    fill="#6C63FF" />
                <path id="Vector_52"
                    d="M441.245 257.188C439.288 284.247 418.566 304.799 418.566 304.799C418.566 304.799 401.018 281.478 402.975 254.419C404.933 227.359 425.654 206.807 425.654 206.807C425.654 206.807 443.202 230.128 441.245 257.188Z"
                    fill="#6C63FF" />
                <path id="Vector_53"
                    d="M229.074 83.9004C251.875 98.5957 259.967 126.639 259.967 126.639C259.967 126.639 231.092 130.856 208.291 116.161C185.49 101.466 177.398 73.4226 177.398 73.4226C177.398 73.4226 206.273 69.2051 229.074 83.9004Z"
                    fill="#6C63FF" />
                <path id="Vector_54"
                    d="M174.573 413.495C197.373 428.19 205.465 456.233 205.465 456.233C205.465 456.233 176.59 460.451 153.789 445.755C130.989 431.06 122.897 403.017 122.897 403.017C122.897 403.017 151.772 398.799 174.573 413.495Z"
                    fill="#6C63FF" />
                <path id="Vector_55"
                    d="M643.797 136.264C636.618 162.427 612.298 178.558 612.298 178.558C612.298 178.558 599.617 152.271 606.796 126.108C613.974 99.9445 638.294 83.8135 638.294 83.8135C638.294 83.8135 650.976 110.101 643.797 136.264Z"
                    fill="#6C63FF" />
                <path id="Vector_56"
                    d="M861.858 158.876C853.47 184.677 828.425 199.658 828.425 199.658C828.425 199.658 816.981 172.808 825.369 147.008C833.758 121.207 858.802 106.226 858.802 106.226C858.802 106.226 870.246 133.076 861.858 158.876Z"
                    fill="#6C63FF" />
                <path id="Vector_57"
                    d="M1094.92 449.252C1079.96 471.885 1051.83 479.652 1051.83 479.652C1051.83 479.652 1047.95 450.723 1062.91 428.09C1077.86 405.457 1105.99 397.69 1105.99 397.69C1105.99 397.69 1109.87 426.619 1094.92 449.252Z"
                    fill="#6C63FF" />
            </g>
        </g>
        <defs>
            <filter id="filter0_b" x="-4" y="-4" width="1297" height="1027" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feGaussianBlur in="BackgroundImage" stdDeviation="2" />
                <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur" result="shape" />
            </filter>
            <clipPath id="clip0">
                <rect width="1289" height="1019" fill="white" />
            </clipPath>
        </defs>
    </svg>

    <div class="box">
        <form action="/login" method="POST" enctype="multipart/form-data">
            <center>
                <h1>

                    Register
                </h1>

                <input type="text" placeholder="Username" name="username" id="username" required /><br>
                <input type="text" placeholder="Email" name="email" required /><br>
                <input type="password" placeholder="password" name="password" required /><br>
                <br>
                Profile Picture
                <input type="file" name="avatar" required />

                <button type="submit">Send</button> <br>
                <br>
                <br>
                <a href="/login">Login</a>

            </center>
        </form>
    </div>
    <script>

        $('#username').on('keypress', function (e) {
            if (e.which == 32) {
                return false;
            }
        });
    </script>

</body>

</html>